{% extends 'base.html.twig' %}

{% block title %}
	Contact{{parent()}}
{% endblock %}

{% block body %}
	<div class='container' style='margin-top:150px'>
		<div class='card'>
			<img width='100' src="assets/img/icone/twitter.png">
			<p>@Amine</p>
		</div>

		<div class='card'>
			<img width='100' src="assets/img/icone/linkedin.png">
			<p>AmineDev</p>
		</div>

		<div class='card'>
			<img width='100' src="assets/img/icone/Phone.png">
			<p>06 00 11 22 33</p>
		</div>

		<div class='card'>
			<img width='100' src="assets/img/icone/Earth.png">
			<p>AmineDev.com</p>
		</div>
	</div>
{% endblock %}
